@import url("reset.css");

/* project's responsiveness uses mobile first strategy */

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);   /* splits to three main parts ( header, main, footer ) */
}

header, main {
  padding: 60px;
}

header div,
main h1, li {
  margin-bottom: 50px;
}

/* HEADER */

header {
  background-image: url('images/portfolio_header_background_small.jpg');
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 5px rgb(78, 75, 75));
}

header h1{
  position: absolute;
  color: white;
  font-size: 3.4rem;
  left: 16%;
  top: 280px;
  z-index: 1;
}

.profile img {
  position: relative;
  height: 380px;
  width: 100%;
  margin-bottom: 35px;
}

.profile p:first-of-type {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  padding: 15px;
}

.profile p:last-of-type {
  color:  rgb(78, 75, 75);
  font-size: 2rem;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 35px;
  margin-bottom: unset;
}

.contact-links li {
  height: 3rem;
  width: 3rem;
}

/* MAIN */

main h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

main .project {
  display: grid;
  grid-template-rows: 250px 150px;
  box-shadow: 10px 10px 15px rgb(78, 75, 75);
}

.project img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project .detail {
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.detail > :first-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.detail > :last-child {
  margin-top: 15px;
  font-size: 20px;
  overflow: auto;
  color: rgb(78, 75, 75);
}

.proj-name {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bolder;
  padding: 10px;
}

.proj-links {
  display: flex;
  justify-content: end;
}

.proj-links * {
  width: 8vw;
  margin-right: 7px;
}

/* FOOTER */

footer {
  background-color: rgb(89, 89, 168);
}

footer > :first-child {
  display: grid;
  grid-template-rows: repeat(4, auto);
  color: white;
  gap: 50px;
  padding: 35px;
}

footer > :first-child em:first-of-type {
  display: flex;
  justify-content:center;
  font-size: 4rem;
}

footer > :first-child em:last-of-type {
  font-size: 2rem;
}

footer > :first-child p {
  font-size: 1.5rem;
}

footer > :first-child ul {
  font-size: 1.7rem;
  padding-bottom: 40px;
}

footer > :last-child {
  height: 750px;
}

.bg-image {
  height: 100%;
  background-image: url('images/andrea-piacquadio-2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scaleX(-1);
  background-position-x: right;
}

@media screen and (max-width: 1000px) and (min-width: 650px) {

  #header-links,
  header h1 br {
    display: none;
  }

  header {
    display: block;
    position: relative;
    background-size: 100% 465px;
    height: 465px;
  }

  header h1 {
    direction: unset;
    top: 50px;
    right: 30px;
    text-align: end;
    white-space: nowrap;
    letter-spacing: .1vw;
  }

  .profile {
    background-color: aliceblue;
    height: calc(100% - 50px);
    margin-top: 50px;
    margin-bottom: -30px;
    padding: 10px 15px 0 15px;
  }

  .profile img {
    float: left;
    height: 75%;
    width: 50vw;
    left: -35px;
    top: -80px;
    margin-bottom: -80px;
    margin-right: -25px;
  }

  .profile p:first-of-type {
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
    margin-top: 50px;
    padding: 15px;
  }

  .profile p:last-of-type {
    font-size: 3.2vw;
  }

  main .project {
    grid-template-rows: 200px 150px;
  }

  main ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(calc(100vw - 150px) / 2));
    gap: 25px;
  }

  .proj-links * {
    width: 30px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer > :first-child em:first-of-type {
    font-size: 5vw;
  }

  footer > :first-child em:last-of-type {
    font-size: 3vw;
  }

  footer > :first-child p {
    font-size: 2.5vw;
  }

  footer > :first-child ul {
    font-size: 1.8rem;
    padding-bottom: 40px;
  }

  footer > :last-child {
    height: 500px;
    padding: 50px;
  }

  .bg-image {
    height: 100%;
  }
}
