@import url("reset.css");

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: minmax(500px, 650px); /* responsive on a 150px margin of scaling */
  gap: 15vh;
}


header {
  background-image: url('images/portfolio_header_background_small.jpg');
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 5px rgb(78, 75, 75));
  padding: 50px 50px 0px 50px;

  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 35px;
}

.img-cont {
  position: relative;
  height: 380px;
}

.profile-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

#profile-name {
  position: absolute;
  bottom: 10%;
  margin-left: 20px;
  color: white;
  font-size: 3.7rem;
}

.profile-info {
  font-size: 2rem;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 35px;
}

.contact-links li {
  height: 3rem;
  width: 3rem;
}

main {
  padding: 0px 50px 50px 50px;
}

main figure{
  display: grid;
  grid-template-rows: 7rem auto;
}

main figcaption {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 15px;
  height: 4rem;
  font-size: 4rem;
}

main ul {
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 35px;
}

main .item {
  height: 500px;
  display: grid;
  grid-template-rows: 300px 200px;
  box-shadow: 10px 10px 15px rgb(78, 75, 75);
}

.item .screenshot {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.item .detail {
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.detail > :first-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.detail > :last-child {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  overflow: auto;
  color: rgb(78, 75, 75)
}

.proj-name {
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bolder;
  padding: 10px;
}

.options {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.options * {
  align-self: center;
  width: 50%;
}


footer {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

footer > :first-child {
  background-color: rgb(89, 89, 168);
  display: grid;
  grid-template-rows: repeat(4, auto);
  color: white;
  gap: 50px;
  padding: 35px;
  box-sizing: border-box;
}

footer > :first-child p {
  font-size: 1.5rem;
}

footer > :first-child ul {
  font-size: 1.7rem;
  padding-bottom: 40px;
}

footer > :last-child {
  height: 750px;
  background-image: url('images/andrea-piacquadio-2.jpg');
  background-repeat: no-repeat;
  transform: scaleX(-1);
  background-position-x: right;
}
